<div class="message-area">
  <%= form_with(model: [@chat, @message], id: "form") do |form| %>
    <%= render 'layouts/error_messages', model: form.object %>
    <%= form.text_area :text, placeholder: "コメント欄", rows: "2", class: "message-content", id: "messages" %>
    <%= form.submit "コメントする", class: "message-btn", id: "submit" %>
  <% end %>
</div>
<div class="messages">
  <h4 class="list">＜コメント一覧＞</h4>
</div>
<div class ="message">
  <% if @messages.present? %>
  <div class="user-message", id='message'>
    <% @messages.each do |message| %>
      <div class="message-time">
        <%= message.created_at%>
      </div>
      <div class="message-record">
        <p><%= link_to message.user.name, "/users/#{@message.user_id}", class: "user-messages" %>:
        <%= message.text %></p>
      </div>
    <% end %>
  <% elsif %>
    <h4>まだコメントはありません</h4>
  <% end %>
  </div>
</div>