<%= render "shared/quiz-second-header" %>

<%= form_with url: learns_path, class: "form-main", local: true do |f| %>
  <div class="learns-main">
  <h2 class="learn-title">クイズ作成</h2>
      <div class="learns-form">
        <div class="weight-bold-text">
          クイズ名
          <span class="indispensable-1">必須</span>
        </div>
        <%= f.text_area :quiz, class:"learns-text", placeholder:"(例)今までより早くの意味を持つ記号を選んでください", maxlength:"40" %>
        <div class="learns-box">
          <div class="weight-bold-text">
            選択肢の数
            <span class="indispensable-1">必須</span>
          </div>
          <%= f.text_area :number, class:"learns-choice" %>
        </div>
        ※ 選択肢は2つから6つまで設定できます
        <div class="weight-bold-text">
          選択肢 １
        </div>
        <%= f.text_area :choice_1, class:"learns-contet", placeholder:"(例)piu mosso" %>
        <div class="weight-bold-text">
          選択肢 2
        </div>
        <%= f.text_area :choice_2, class:"learns-contet", placeholder:"(例)accel." %>
        <div id="chices-3">
          <div class="weight-bold-text">
            選択肢 3
          </div>
          <%= f.text_area :choice_3, class:"learns-contet", placeholder:"(例)rit." %>
        </div>
        <div id="chices-4">
          <div class="weight-bold-text">
            選択肢 4
          </div>
          <%= f.text_area :choice_4, class:"learns-contet", placeholder:"(例)memo mosso" %>
        </div>
        <div id="chices-5">
          <div class="weight-bold-text">
            選択肢 5
          </div>
          <%= f.text_area :choice_5, class:"learns-contet", placeholder:"(例)a tempo" %>
        </div>
        <div id="chices-6">
          <div class="weight-bold-text">
            選択肢 6
          </div>
          <%= f.text_area :choice_6, class:"learns-contet", placeholder:"(例)cresc." %>
        </div>
        <div class="learns-box">
          <div class="weight-bold-text">
            答えの選択肢番号
            <span class="indispensable-1">必須</span>
          </div>
          <%= f.text_area :answer, class:"learns-choice" %>
        </div>
      </div>

    <div class="chat-btn-contents">
      <%= f.submit "質問する" ,class:"learns-btn" %>
      <%=link_to 'もどる', learns_path, class:"back-btn" %>
    </div>
  </div>
<% end %>

<%= render "shared/quiz-footer" %>