<%= render "shared/play-header" %>
  <div class="play-main">
    <div class="piano">
      <div data-sound="do" class="key white" data-no-turbolink></div>
      <div class="black"></div>
      <div data-sound="re" class="key white" data-no-turbolink></div>
      <div class="black"></div>
      <div data-sound="mi" class="key white" data-no-turbolink></div>
      <div data-sound="fa" class="key white" data-no-turbolink></div>
      <div class="black"></div>
      <div data-sound="so" class="key white" data-no-turbolink></div>
      <div class="black"></div>
      <div data-sound="ra" class="key white" data-no-turbolink></div>
      <div class="black"></div>
      <div data-sound="si" class="key white" data-no-turbolink></div>
      <div data-sound="do-2" class="key white" data-no-turbolink></div>
    </div>
    <audio id="do" src=<%= asset_path "pianoC.mp3"%> preload="auto"></audio>
    <audio id="re" src=<%= asset_path "pianoD.mp3"%> preload="auto"></audio>
    <audio id="mi" src=<%= asset_path "pianoE.mp3"%> preload="auto"></audio>
    <audio id="fa" src=<%= asset_path "pianoF.mp3"%> preload="auto"></audio>
    <audio id="so" src=<%= asset_path "pianoG.mp3"%> preload="auto"></audio>
    <audio id="ra" src=<%= asset_path "pianoA.mp3"%> preload="auto"></audio>
    <audio id="si" src=<%= asset_path "pianoB.mp3"%> preload="auto"></audio>
    <audio id="do-2" src=<%= asset_path "pianoC2.mp3"%> preload="auto"></audio>
  </div>
<%= render "shared/play-footer" %>