<%= render "shared/header" %>
<body>
<div class = "main">
  <div class="leaning">
    <%= link_to "quiz", learns_path, class: 'special-btn', data: {"turbolinks" => false} %>
  </div>
  <div class="fake-btn1", id="fake_btn1" data-no-turbolink>
    <audio id="audio1" src=<%= asset_path "audio1.mp3"%> preload="auto"></audio>
    <audio id="audio2" src=<%= asset_path "audio2.mp3"%> preload="auto"></audio>
    <audio id="audio3" src=<%= asset_path "audio3.mp3"%> preload="auto"></audio>
    <audio id="audio4" src=<%= asset_path "audio4.mp3"%> preload="auto"></audio>
    <audio id="audio5" src=<%= asset_path "audio5.mp3"%> preload="auto"></audio>
    <audio id="audio6" src=<%= asset_path "audio6.mp3"%> preload="auto"></audio>
    <audio id="audio7" src=<%= asset_path "audio7.mp3"%> preload="auto"></audio>
    <audio id="audio8" src=<%= asset_path "audio8.mp3"%> preload="auto"></audio>
    <audio id="audio9" src=<%= asset_path "audio9.mp3"%> preload="auto"></audio>
    <audio id="audio10" src=<%= asset_path "audio10.mp3"%> preload="auto"></audio>
    <audio id="audio11" src=<%= asset_path "audio11.mp3"%> preload="auto"></audio>
    <audio id="audio12" src=<%= asset_path "audio12.mp3"%> preload="auto"></audio>
    <audio id="audio13" src=<%= asset_path "audio13.mp3"%> preload="auto"></audio>
    <audio id="audio14" src=<%= asset_path "audio14.mp3"%> preload="auto"></audio>
    <audio id="audio15" src=<%= asset_path "audio15.mp3"%> preload="auto"></audio>
    <audio id="audio16" src=<%= asset_path "audio16.mp3"%> preload="auto"></audio>
    <audio id="audio17" src=<%= asset_path "audio17.mp3"%> preload="auto"></audio>
    <audio id="audio18" src=<%= asset_path "audio18.mp3"%> preload="auto"></audio>
    <audio id="audio19" src=<%= asset_path "audio19.mp3"%> preload="auto"></audio>
    <audio id="audio20" src=<%= asset_path "audio20.mp3"%> preload="auto"></audio>
  </div>
  <div class="fake-btn2", id="fake_btn2" data-no-turbolink></div>
  <div class="question">
    <%= link_to "chat", chats_path, class: 'special-btn' %>
  </div>
  <div class="playing">
    <%= link_to "game", plays_path, class: 'special-btn', data: {"turbolinks" => false} %>
  </div>
  <div class="fake-btn3", id="fake_btn3" data-no-turbolink></div>
</div>
</body>
<%= render "shared/footer" %>