<%= render "shared/header" %>
<body>
<div class = "main">
  
  <%= link_to root_path do %>
    <div class="leaning">
      <h3 class="special-btn">leaning</h3>
    </div>
  <%end%>
  <div class="fake-btn1"></div>
  
  <div class="fake-btn2"></div>

  <%= link_to chats_path do %>
    <div class="question">
      <h3  class= 'special-btn'>question</h3>
    </div>
  <%end%>
  <%= link_to root_path do %>
    <div class="playing">
      <h3 class= 'special-btn' >playing</h3>
    </div>
  <%end%>
  <div class="fake-btn3"></div>
</div>
</body>
<%= render "shared/footer" %>