<%= render "shared/header" %>
<body>
<div class = "main">
  <div class="leaning">
    <%= link_to "learning", '#', class: 'special-btn' %>
  </div>
  <div class="fake-btn1"></div>
  <div class="fake-btn2"></div>
  <div class="question">
    <%= link_to "question", chats_path, class: 'special-btn' %>
  </div>
  <div class="playing">
    <%= link_to "playing", '#', class: 'special-btn' %>
  </div>
  <div class="fake-btn3"></div>
</div>
</body>
<%= render "shared/footer" %>