<%= render "shared/second-header"%>

<h2 class="account-title"><%= @name %>さんのマイページ</h2>
<div class='account-page'>
  <div class='account-page_header'>
    <% if user_signed_in? && current_user.id == @user.id%>
      <%= link_to "編集する", edit_user_path, class: 'btn'%>
    <% end %>
    <%= link_to "トップページに戻る", root_path, class: 'btn'%>
  </div>
  <div class='user-form'>
    <h3 class='user-name'>名前：<%= @name %></h5>
    <% if @instrument.present?%>
      <h3 class='user-name'>好きな楽器または興味のある楽器：<%= @instrument %></h5>
    <% elsif %>
      <h3 class='user-name'>好きな楽器または興味のある楽器：未登録</h5>
    <% end %>
  </div>
</div>

<div class='chat-contents'>
  <div class='chats-title'>
    <h3><%= @name %>さんの質問一覧</h3>
  </div>
  <div class='chat-main'>
    <% if @chat.present? %>
      <h5>まだ<%= @name %>さんの質問はありません</h5>
    </div>
    <% else %>
    <div class='chat-contents'>
      <ul class ="chat-lists">
        <% @chats.each do |chat| %>
          <li class='list'>
            <%= link_to chat_path(chat.id) do %>
              <div class="chat-info">
                <h3 class="chats-title">
                  タグ：
                  <%chat.tags.each do |tag| %>
                    #<%=tag.name%>
                  <%end%>
                </h3>
                <h3 class="chats-title">
                  <%if chat.title.present?%>
                    質問名：
                    <%= chat.title %>
                  <% end %>
                </h3>
                <div class="chats-content-box">
                  <span>質問内容：<%= chat.content %></span>
                </div>
                <h3 class="chats-title">
                  <%if chat.image.present?%>
                    画像：あり
                  <% end %>
                </h3>
                <img src=<%= asset_path "likes.png"%> width="20" height="20">(<%= chat.likes.count %>)
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <% end %>
</div>
<div class='likes-contents'>
  <div class='likes-title'>
    <h3>いいねしている投稿</h3>
  </div>
  <div class='likes-contents'>
    <ul class ="likes-lists">
      <% @user.like_chats.each do |chat| %>
        <li class='like-list'>
          <%= link_to chat_path(chat.id) do %>
            <div class="likes-info">
              <h3 class="likes-name">
                投稿者名：<%=chat.user.name%>
              </h3>
              <h3 class="likes-title">
                タグ：
                <%chat.tags.each do |tag| %>
                  #<%=tag.name%>
                <%end%>
              </h3>
              <h3 class="likes-title">
                <%if chat.title.present?%>
                  質問名：
                  <%= chat.title %>
                <% end %>
              </h3>
              <div class="likes-content-box">
                <span>質問内容：<%= chat.content %></span>
              </div>
              <h3 class="likes-title">
                <%if chat.image.present?%>
                  画像：あり
                <% end %>
              </h3>
              <img src=<%= asset_path "likes.png"%> width="20" height="20">(<%= chat.likes.count %>)
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render "shared/footer"%>