<%= render "shared/second-header"%>

<div class='account-page'>
  <div class='account-page_header'>
    <h2><%= @name %>さんのマイページ</h2>
    <% if user_signed_in? && current_user.id %>
      <%= link_to "編集する", edit_user_path, class: 'btn'%>
    <% end %>
    <%= link_to "トップページに戻る", root_path, class: 'btn'%>
  </div>
  <div class='user-form'>
    <h3 class='user-name'>名前：<%= @name %></h5>
    <% if @instrument.present?%>
      <h3 class='user-name'>好きな楽器または興味のある楽器：<%= @instrument %></h5>
    <% elsif %>
      <h3 class='user-name'>好きな楽器または興味のある楽器：未登録</h5>
    <% end %>
  </div>
</div>

<div class='chat-form'>
  <div class='chat-main'>
    <h3><%= @name %>さんの質問一覧</h3>
  </div>
  <div class='chat-all'>
    <% if @chat.nil? %>
      <h5>まだ<%= @name %>さんの質問はありません</h5>
    <% else %>
      <%# @chats.each do |chat| %>
        <h1>あ</h1>
      <%# end %>
    <% end %>
  </div>
</div>

<%= render "shared/footer"%>