<%= render "shared/chat-second-header" %>

<%= form_with model: @chat, class: "form-main", local: true do |f| %>
<div class="chats-main">
  <h2 class="chat-title">質問編集フォーム</h2>
    <div>
      <%= render 'layouts/error_messages', model: f.object %>
    </div>
    <div class="form">
      <div class="chats-form">
        <div class="weight-bold-text">
          <div class="tag-field", id='tag-field'>
            タグ
          </div>
          <span class="indispensable-1">必須</span>
        </div>
        <%= f.text_field :name, class:"input-tag" %>
        <div id="search-result">
        </div>
        <div class="weight-bold-text">
          質問名
          <span class="indispensable-2">任意</span>
        </div>
        <%= f.text_area :title, class:"chats-text", placeholder:"(例)どうすれば腹式呼吸が上手くできますか", maxlength:"40" %>
        <div class="weight-bold-text">
          詳細内容
          <span class="indispensable-1">必須</span>
        </div>
        <%= f.text_area :content, class:"chats-text", placeholder:"質問の詳細(必須 1,000文字まで)" ,rows:"7" ,maxlength:"1000" %>
      </div>
      <div class="img-upload">
        <div class="weight-bold-text">
          画像
          <span class="indispensable-2">任意</span>
        </div>
        <div class="click-upload">
          <p>
            クリックしてファイルをアップロード
          </p>
          <%= f.file_field :image %>
        </div>
      </div>
    </div>

    <div class="chat-btn-contents">
      <%= f.submit "変更する" ,class:"chats-btn" %>
      <%=link_to 'もどる', chat_path, class:"back-btn" %>
    </div>
  <% end %>
</div>

<%= render "shared/chat-footer" %>