<%= render "shared/chat-header" %>
<div class = "chat-contents">
  <ul class ="chat-lists">
    <% @chats.each do |chat| %>
    <li class='list'>
      <%= link_to chat_path(chat.id) do %>
      <div class="chats-info">
        <h3 class="chats-name">
          投稿者名：<%=chat.user.name%>
        </h3>
        <h3 class="chats-title">
          カテゴリー：
          <%= chat.category.name %>
        </h3>
        <h3 class="chats-title">
          <%if chat.title.present?%>
            質問名：
            <%= chat.title %>
          <% end %>
        </h3>
        <div class="chats-content-box">
          <span>質問内容：<%= chat.content %></span>
        </div>
        <h3 class="chats-title">
          <%if chat.image.present?%>
            画像：あり
          <% end %>
        </h3>
        <img src="/assets/likes.png" width="20" height="20">(<%= chat.liked_users.count %>)
      </div>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
<div class='question-btn'>
  <%= link_to "質問する", new_chat_path, class: 'question-btn-text', method: :get %>
</div>
<%= render "shared/chat-footer" %>