<%= render "shared/chat-second-header"%>

<h2 class="account-title">質問詳細</h2>
<h2 class="account-title">
  投稿者:<a href="/users/<%= @chat.user_id %>", class= 'user-chat-name'><%= @chat.user.name %></a>
</h2>
<div class='account-page'>
  <div class='account-page_header'>
    <div class ="btn-form">
      <% if user_signed_in? && current_user.id == @chat.user.id%>
        <%= link_to "編集する", edit_chat_path, class: 'btn'%>
        <%= link_to "削除する", chat_path, method: :delete, class: 'btn'%>
      <% end %>
      <%= link_to "質問一覧へ", chats_path, class: 'btn'%>
    </div>
    <div class="like-chat">
      <div class="likes-num">いいね件数: <%= @chat.likes.count %></div>
      <% if current_user.already_liked?(@chat) %>
        <%= button_to chat_like_path(@chat), method: :delete, class: "likes-btn", remote: true do %>
          <img src=<%= asset_path "likes.png"%> width="50" height="50">
        <% end %>
      <% else %>
        <%= button_to chat_likes_path(@chat), class: "likes-btn", remote: true do %>
          <img src=<%= asset_path "likes.png"%> width="50" height="50">
        <% end %>
      <% end %>
      <div class="likes-num">いいねしたユーザー</div>
      <% @chat.liked_users.each do |user| %>
        <ul likes-users>
          <li class="likes-user">♪ <%= user.name %></li>
        </ul>
      <% end %>
    </div>
  </div>
  <div class='chat-form'>
    <h2 class="chat-name">
      タグ：
      <%@chat.tags.each do |tag| %>
        #<%=tag.name%>
      <%end%>
    </h2>
    <h2 class="chat-name">
      質問名：
      <%if @chat.title.present?%>
        <%= @chat.title %>
      <% elsif %>
        なし
      <% end %>
    </h2>
    <div class="chat-content">
      <span>質問内容：<%= @chat.content %></span>
    </div>
    <div class="chat-images">
      画像：
      <%if @chat.image.present?%>
        <%= image_tag @chat.image.variant(resize:'700x500'), class: "chat-image", rel: "lightbox" %>
      <% elsif %>
        なし
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="message-area">
    <%= form_with(model: [@chat, @message], id: "form", local: true) do |form| %>
      <%= render 'layouts/error_messages', model: form.object %>
      <%= form.text_area :text, placeholder: "コメント欄", rows: "2", class: "message-content", id: "messages" %>
      <%= form.submit "コメントする", class: "message-btn", id: "submit" %>
    <% end %>
  </div>
  <div class="messages">
    <h4 class="list">＜コメント一覧＞</h4>
  </div>
  <div class ="message">
    <% if @messages.present? %>
    <div class="user-message", id='message'>
      <% @messages.each do |message| %>
        <div class="message-time">
          <%= message.created_at%>
        </div>
        <div class="message-record">
          <p><%= link_to message.user.name, "/users/#{@message.user_id}", class: "user-messages" %>:
          <%= message.text %></p>
        </div>
      <% end %>
    <% elsif %>
      <h4>まだコメントはありません</h4>
    <% end %>
    </div>
  </div>
</div>

<%= render "shared/chat-footer"%>