<%= render "shared/chat-second-header"%>

<h2 class="account-title">質問詳細</h2>
<h2 class="account-title">
  投稿者:<a href="/users/<%= @chat.user_id %>", class= 'user-chat-name'><%= @chat.user.name %></a>
</h2>
<div class='account-page'>
  <div class='account-page_header'>
    <div class ="btn-form">
      <% if user_signed_in? && current_user.id == @chat.user.id%>
        <%= link_to "編集する", edit_chat_path, class: 'btn'%>
        <%= link_to "削除する", chat_path, method: :delete, class: 'btn'%>
      <% end %>
      <%= link_to "質問一覧へ", chats_path, class: 'btn'%>
    </div>
    <div class="like-chat", id="like_<%= @chat.id %>">
      <%= render partial: 'likes/like', locals: { chat: @chat} %>
    </div>
  </div>
  <div class='chat-form'>
    <h2 class="chat-name">
      タグ：
      <%@chat.tags.each do |tag| %>
        #<%=tag.name%>
      <%end%>
    </h2>
    <h2 class="chat-name">
      質問名：
      <%if @chat.title.present?%>
        <%= @chat.title %>
      <% elsif %>
        なし
      <% end %>
    </h2>
    <div class="chat-content">
      <span>質問内容：<%= @chat.content %></span>
    </div>
    <div class="chat-images">
      画像：
      <%if @chat.image.present?%>
        <%= image_tag @chat.image.variant(resize:'700x500'), class: "chat-image", rel: "lightbox" %>
      <% elsif %>
        なし
      <% end %>
    </div>
  </div>
</div>
<div class="container" id="message_<%= @chat.id %>">
  <%= render partial: 'messages/message', locals: { chat: @chat} %>
</div>

<%= render "shared/chat-footer"%>